.cart {
    top: 0%;
    right: 2%;
    background-color: rgb(84, 156, 132);
    width: 100%;
    height: 8rem;
}
.show {
    display: none;
}
.count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.countCart {
    position: relative;
    align-self: flex-end;
    margin-bottom: 2%;
    margin-left: 92%;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
}
h1 {
    display: inline;
    position: absolute;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: auto;
    font-weight: bolder;
    color: black;
    animation-name: title;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes title {
    0% {color: black;}
    50% {color: rgb(0, 229, 255);}
    100% {color: black;}
}



/* CARRITO DESPLEGABLE */ 

.cartBox { 
    position: absolute;
    right: 1%;
    width: 12%;
    height: auto;
    text-align: center;
}

.cartContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0);
}

.cartContent h6 {
    margin-top: 18%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    color: cornsilk;
} 

.cartContent button {
    margin-bottom: 18%;
    margin-top: 0%;
    width: 5rem;
}